@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";
@plugin "daisyui";

*{
    font-family: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p, li{
    color: #627382;
}
#popular li{
    color: white;
}

footer li:hover{
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    br{
        display: none;
    }
}